{% extends "::base.html.twig" %}

{% block title %}DelanoMainBundle:Admin:editnews{% endblock %}

{% block body %}
    <div style="padding-left: 10%; padding-right: 10%">
        <div class="col-sm-6">
            <form class="form-group" method="post">
                {{ form_widget(form) }}
                {{ form_rest(form) }}
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>

    </form>
    </div>
    </div>
{% endblock %}
