{% extends "::base.html.twig" %}

{% block title %}DelanoMainBundle:Admin:events{% endblock %}

{% block body %}
    {% for td in news %}
        <h2>{{ td.title }}</h2>
        <br/>
        <p>{{ td.body }}</p>
    {% endfor %}
{% endblock %}
