{% extends "::base.html.twig" %}

{% block title %}DelanoMainBundle:Admin:events{% endblock %}
{% block header  %}
{% endblock %}
{% block body %}
    {% for td in news %}
    <div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">{{ td.title }}</h2>
        </div>
<div class="panel-body">
        <p>{{ td.body }}</p>
        </div>
        </div>
    {% endfor %}
{% endblock %}
