{% extends "::base.html.twig" %}


{% block title %}Delano / Reservations{% endblock %}

{% block body %}
<div class="alert alert-success">
    <p>Your reservation was successful!</p>
</div>
{% endblock %}
